<div class="user_bar">
      <div class="card">
        <div class="card-img-top" style="background-image: url('<%= asset_path "images/backgrounds/iceland.jpg" %>'); height: 150px; background-size: cover;"></div>
        <div class="card-block text-center">
          <a href="profile/index.html">
            <%= image_tag "avatars/avatar.png", class: 'rounded-circle avatar' %>
          </a>

          <h6 class="card-title">
            <a class="bhm" href="profile/index.html">Dave Gamache</a>
          </h6>

          <p class="zw">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>

          <ul class="biu">
            <li class="biv">
              <a href="#userModal" class="bhm" data-toggle="modal">
                Friends
                <h6 class="yx">12M</h6>
              </a>
            </li>

            <li class="biv">
              <a href="#userModal" class="bhm" data-toggle="modal">
                Enemies
                <h6 class="yx">1</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-block">
          <h6 class="card-title">About <small>· <a href="#">Edit</a></small></h6>
          <ul class="de aqs">
            <li><span class="apv h atz zo"></span>Went to <a href="#">Oh, Canada</a>
            </li><li><span class="apv h bgo zo"></span>Became friends with <a href="#">Obama</a>
            </li><li><span class="apv h aym zo"></span>Worked at <a href="#">Github</a>
            </li><li><span class="apv h azc zo"></span>Lives in <a href="#">San Francisco, CA</a>
            </li><li><span class="apv h bal zo"></span>From <a href="#">Seattle, WA</a>
          </li></ul>
        </div>
      </div>

       <div class="card">
        <div class="card-block">
          <h6 class="card-title">Photos <small>· <a href="#">Edit</a></small></h6>
          <div data-grid="images" data-target-height="150"><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_5.jpg" style="width: 114px; height: 115px;">
            </div><div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_6.jpg" style="width: 114px; height: 115px;">
            </div><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_7.jpg" style="width: 114px; height: 115px;">
            </div><div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_8.jpg" style="width: 114px; height: 115px;">
            </div><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_9.jpg" style="width: 114px; height: 115px;">
            </div><div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_10.jpg" style="width: 114px; height: 115px;">
            </div></div>
        </div>
      </div>
    </div>