<%= render 'shared/logged_in_user' %>

<div class="card user_content">
  <h1 class="display-4">New Thread</h1>
  <p class="lead">
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
  </p>

  <%= render 'form' %>

</div>